.labtest,
.appointment {
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.appointment,
.labtest {
  cursor: pointer;
}

.labtest:hover {
  transform: translateZ(20px) scale(1.1);
}

.appointment:hover {
  transform: translateZ(10px) scale(1.1);
}


.med-card {
  cursor: pointer;
}

.med-card {
  transition: transform 0.3s ease-in-out;
}

.med-card:hover {
  transform: translateZ(20px) scale(1.1);
}

.card-hover:hover {
  border: 2px solid #fff;
}


/* New App css */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
}


.chat-app {
  background: linear-gradient(135deg, #4f69db, #5e3487);
}


@keyframes shake {
  0% {
    transform: translate(1px, 0);
  }
  25% {
    transform: translate(-1px, 0);
  }
  50% {
    transform: translate(1px, 0);
  }
  75% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.feature-icons {
  display: inline-block;
  animation: shake 0.5s infinite;
  transition: transform 0.3s, color 0.3s;
  color: #4f69db;
  cursor: grab;
}

/* custom sidebar */
.sidebar-c {
  height: 100vh; 
  overflow-y: auto; 
  position: sticky; 
  top: 0; 
}

.profile-section {
  position: sticky; 
  bottom: 0; 
  background: #f8f9fa; 
  padding: 1rem; /
}

.content-c {
  height: 100vh; 
  overflow-y: auto; 
}

.brand-icon {
  width: 40px; 
  height: auto; 
}

.brand-divider {
  border: none; 
  height: 2px; 
  background-color: #fff; 
  margin: 1rem 0; 
  margin-bottom: 8px;
}

/* Table */
.enhanced-table {
  border-radius: 8px;
  overflow: hidden;
}

.enhanced-table th {
  border-bottom: 2px solid #ecf0f1;
  padding: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
}

.enhanced-table td {
  padding: 12px;
  vertical-align: middle;
}

.rating-stars {
  color: #f1c40f;
  font-size: 1.1em;
}


.hover-opacity {
  transition: opacity 0.3s ease;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: translateY(-3px);
}

.side-bar-links:hover{
background-color: rgba(255,255,255,0.1);
border-radius: 4px;
}

.active {
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  border-radius: 4px;
}


.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


.custom-datepicker {
  background-color: #f8f9fa; 
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  transition: border-color 0.2s ease-in-out;
}

.custom-datepicker:focus {
  border-color: #2D4200;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(45, 66, 0, 0.25);
}
